form {
  border: 1px;
  max-width: max-content;
  margin: 0 auto; 
}

h2 {
  background-color: darkgray;
  border-radius: 5px;
  padding: 13px;
  text-align: -webkit-center;
  font-family: 'Roboto';
  font-size: -webkit-xxx-large;
}

input {
  border-radius: 5px;
}
